.item
    = link_to 'HAPPY TESTERS', '#1', class: 'selected'
    .left
    .right
.item
    = link_to 'STATUS', '#1'
    .left
    .right
.item
    = link_to 'INVITE FRIENDS', '#1'
    .left
    .right
.item
    = link_to 'TODAY\'S SURVEY', '#1'
    .left
    .right  